/* title section start */
.careers-page .title-section {
  background-image: url("../images/carrers/title-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  /* background-attachment: fixed; */
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* title section end */

.careers-page h4 a {
  color: #0075ff;
}

.careers-page h4 a:hover {
  color: #005ac2;
  transition: all 0.25s linear;
}

.careers-page .career-section .card {
  border-radius: 8px;
  border-color: #dddddd;
  box-shadow: 0px 0px 3px #dddddd;
}

.careers-page .career-section .card img {
  width: 100px;
}

.careers-page .career-section a.join-us-btn {
  display: block;
  max-width: 160px;
  padding: 0.8rem;
  border: 2px solid #0075ff;
  background-color: #0075ff;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #0075ff;
  font-weight: 400;
  color: #fff;
}

.careers-page .career-section a.join-us-btn:hover {
  box-shadow: none;
  background-color: #005ac2;
  border-color: #005ac2;
  transition: 0.25s ease all;
}

.careers-page .why-us-section {
  background-color: #2f3854;
  color: #ffffff;
}
