@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.border-white {
  height: 2px;
  width: 100px;
  background-color: #fff;
}

.border-black {
  height: 3px;
  width: 100px;
  background-color: #000000;
}

.border-yellow {
  height: 3px;
  width: 100px;
  background-color: #fa9500;
}

.border-blue {
  height: 3px;
  width: 100px;
  background-color: #0075ff;
}

/*---------- HOME PAGE start ----------*/
/* header section start */

.mob-top-links .btn {
  background-color: #f2f5f7;
  border-color: #f2f5f7;
  color: #386aa6;
  box-shadow: 1px 1px 3px #c6c6c6;
}

.mob-top-links .btn:hover,
.mob-top-links .btn:active,
.mob-top-links .btn:focus {
  color: #0075ff;
  box-shadow: none;
}

.mob-top-links .btn .fa-whatsapp {
  font-weight: bold;
  font-size: 19px;
}

.mob-top-links .btn.btn-blue {
  background-color: #0075ff;
  border-color: #0075ff;
  color: #fff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #0075ff;
}

.mob-top-links .btn.btn-blue:hover,
.mob-top-links .btn.btn-blue:active,
.mob-top-links .btn.btn-blue:focus {
  box-shadow: none;
}

.navbar {
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 3px 0px 5px #c6c6c6;
}

.navbar .logo {
  max-width: 100px;
}

.navbar .top-links .btn {
  background-color: #f2f5f7;
  border-color: #f2f5f7;
  color: #386aa6;
  box-shadow: 1px 1px 3px #c6c6c6;
}

.navbar .top-links .btn:hover,
.navbar .top-links .btn:active,
.navbar .top-links .btn:focus {
  color: #0075ff;
  box-shadow: none;
}

.navbar .top-links .btn .fa-whatsapp {
  font-weight: bold;
  font-size: 19px;
}

.navbar .top-links .btn.btn-blue {
  background-color: #0075ff;
  border-color: #0075ff;
  color: #fff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #0075ff;
}

.navbar .top-links .btn.btn-blue:hover,
.navbar .top-links .btn.btn-blue:active,
.navbar .top-links .btn.btn-blue:focus {
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show > .nav-link {
  color: #0075ff;
  border-bottom: 2px solid #0075ff;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 500;
  color: #000000;
}

.navbar-light .navbar-toggler {
  color: #0075ff;
  border-color: #0075ff;
}

.it-soln.dropdown-menu {
  width: 600px;
  left: -100px;
}

.it-soln.dropdown-menu .border-right {
  border-right: 1px solid #0075ff;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #0a58ca;
}
/* header section end */

/* hero section end */
.hero-section {
  background-image: url("../images/home/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 600px;
}

.hero-section .hero-image {
  height: 100%;
}

.hero-section .hero-image .hero-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding-left: 100px;
}

.hero-section .hero-image .hero-text p {
  font-size: 1.2rem;
}

.hero-section .hero-image .hero-text h1 {
  font-size: 3.2rem;
  line-height: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.hero-section .hero-image .hero-text a.solution-link {
  color: #ffcb77;
  max-width: 210px;
}

.hero-section .hero-image .hero-text a.solution-link:hover {
  color: #fff;
}
/* hero section end */

/* contact btn section start */
.contact-btn-section a {
  display: block;
  max-width: 500px;
  border: 2px solid #fa9500;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #ffc165;
  font-weight: 400;
}

.contact-btn-section a:hover {
  box-shadow: none;
  background-color: #fa9500;
  color: #fff;
  transition: 0.25s ease all;
}
/* contact btn section end */

/* industry developers section start */
.industry-developer-section .card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
  min-height: 410px;
  color: #000000;
}

.industry-developer-section .card:hover {
  box-shadow: none;
}

.industry-developer-section .card:hover h5 {
  color: #0075ff;
  transition: all 0.25s linear;
}

.industry-developer-section .card img {
  max-width: 100px;
  padding: 2rem 0 0 2rem;
}

.industry-developer-section .card-body {
  padding: 2rem;
}

.industry-developer-section p.card-text {
  padding-top: 1rem;
  text-align: justify;
}

.industry-developer-section a.get-developer-btn {
  display: block;
  max-width: 250px;
  padding: 1rem;
  border: 2px solid #fa9500;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #ffc165;
  font-weight: 400;
}

.industry-developer-section a.get-developer-btn:hover {
  box-shadow: none;
  background-color: #fa9500;
  color: #fff;
  transition: 0.25s ease all;
}
/* industry developers section end */

/* inovation-section start */
.inovation-section {
  background-image: url("../images/home/inovation.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
}
/* inovation-section end */

/* why buildnetic section start */
.why-buildnetic-section {
  background-color: #f2f5f7;
}

.why-buildnetic-section .card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
  min-height: 215px;
}

.why-buildnetic-section .card img {
  max-width: 100px;
  padding: 2rem 0 0 2rem;
}

.why-buildnetic-section .card-body {
  padding: 2rem;
}

.why-buildnetic-section a.discuss-btn {
  display: block;
  max-width: 350px;
  padding: 1rem;
  border: 2px solid #fa9500;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #ffc165;
  font-weight: 400;
}

.why-buildnetic-section a.discuss-btn:hover {
  box-shadow: none;
  background-color: #fa9500;
  color: #fff;
  transition: 0.25s ease all;
}
/* why buildnetic section end */

/* technology section start */
.technology-section {
  margin-bottom: 150px;
}

.technology-section .card {
  border: none;
}

.technology-section hr {
  background-color: #0075ff;
}

.technology-section .card img {
  max-width: 100px;
  padding-left: 2rem;
}

.technology-section .card-body {
  padding: 2rem;
}

.technology-section .card-body h5 {
  color: #0075ff;
  font-weight: 600;
}

.technology-section .card-body p {
  font-weight: 600;
}

.technology-section .card-body p span {
  font-weight: 400;
  font-size: 0.9rem;
}

.technology-section .card-body p span a {
  color: #000000;
}

.technology-section .card-body p span a:hover {
  color: #0075ff;
  transition: all 0.2s linear;
}
/* technology section end */

/* clients review section start */
.clients-review-section {
  background-color: #2f3854;
  color: #fff;
  padding-top: 123px;
}

.clients-review-section .container {
  position: relative;
}

.clients-review-section h2 {
  font-weight: 600;
}

.clients-review-section .carousel-item {
  height: 600px;
}

.clients-review-section .carousel-indicators [data-bs-target] {
  background-color: #0075ff;
}

.clients-review-section .carousel-item .carousel-caption {
  max-width: 700px;
  bottom: auto;
  top: 15%;
  left: 28%;
}

.clients-review-section .carousel-item .carousel-caption .block {
  border: 2px solid #005ac2;
  border-bottom: none;
  border-radius: 10px;
  padding: 3rem 5rem;
  position: relative;
}

.clients-review-section .carousel-item .carousel-caption .block::before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f10d";
  font-weight: 900;
  position: absolute;
  left: 28px;
  top: 20px;
  font-size: 35px;
}

.clients-review-section .carousel-item .carousel-caption .block::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f10e";
  font-weight: 900;
  position: absolute;
  right: 28px;
  bottom: 20px;
  font-size: 35px;
}
/* clients review section end */

/* award section start */
.award-section {
  max-width: 1200px;
  background-color: #fff;
  position: absolute;
  top: -240px;
  left: 10%;
  z-index: 999;
  color: #000000;
  box-shadow: 0px 0px 8px #c6c6c6;
  border-radius: 5px;
}

.award-section .left-block .img-block {
  max-width: 80px;
}

.award-section .left-block .img-block img {
  width: 100%;
}

.award-section .right-block h3 span {
  color: #0075ff;
}

.award-section a.get-in-touch-btn {
  display: block;
  max-width: 160px;
  padding: 0.8rem;
  border: 2px solid #0075ff;
  background-color: #0075ff;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #0075ff;
  font-weight: 400;
  color: #fff;
}

.award-section a.get-in-touch-btn:hover {
  box-shadow: none;
  background-color: #005ac2;
  border-color: #005ac2;
  transition: 0.25s ease all;
}
/* award section end */

/* blogs section start */
.blogs-section .card {
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
}

.blogs-section .card:hover {
  box-shadow: none;
  transition: all 0.25s ease;
}

.blogs-section .card a.read-more {
  max-width: 400px;
  font-weight: 500;
  color: #0075ff;
  font-size: 1.2rem;
  border-bottom: 2px solid #0075ff;
}

.blogs-section .card a.read-more:hover,
.blogs-section .card a.read-more:hover i {
  color: #005ac2;
}

.blogs-section .card a.blog-link {
  color: #000000;
  font-weight: 500;
}

.blogs-section .card a.blog-link:hover {
  color: #0075ff;
  transition: all 0.25s ease;
}
/* blogs section end */

/* footer section start */
.footer-section {
  background-color: #f4fbff;
  box-shadow: 0px -2px 3px #f4fbff;
}

.footer-section a {
  color: #000000;
}

.footer-section a:hover {
  color: #0075ff;
  transition: all 0.25s ease;
}

.footer-section .social-media-links a {
  background-color: #0075ff;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 4px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #0075ff;
}

.footer-section .social-media-links a:hover {
  background-color: #005ac2;
  box-shadow: none;
}

.footer-section .logo {
  max-width: 100px;
}
/* footer section end */

/*---------- HOME PAGE end ----------*/

/* title section start */
.title-section {
  background-image: url("../images/services/services-title.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  color: #fff;
}
/* title section end */

/* media query start */
@media (min-width: 1600px) {
  .clients-review-section .carousel-item .carousel-caption {
    left: 28%;
  }
}

@media (min-width: 1900px) {
  .clients-review-section .carousel-item .carousel-caption {
    left: 32%;
  }
}

@media (min-width: 2000px) {
  .clients-review-section .carousel-item .carousel-caption {
    left: 35%;
  }
}

@media (max-width: 1400px) {
  .clients-review-section .carousel-item .carousel-caption {
    left: 22%;
  }

  .award-section {
    left: 5%;
  }
}

@media (max-width: 1200px) {
  .clients-review-section .carousel-item .carousel-caption {
    left: 20%;
  }

  .award-section {
    left: 0%;
  }
}

@media (max-width: 1100px) {
  .clients-review-section .carousel-item .carousel-caption {
    left: 18%;
  }
}

@media (max-width: 990px) {
  .it-soln.dropdown-menu {
    width: 100%;
  }

  .it-soln.dropdown-menu {
    width: 100%;
  }

  .clients-review-section .carousel-item .carousel-caption {
    left: 16%;
  }

  .award-section a.get-in-touch-btn {
    padding: 0.3rem;
  }
}

@media (max-width: 768px) {
  .it-soln.dropdown-menu .border-right {
    border-right: none;
  }

  .hero-section .hero-image .hero-text {
    padding-left: 50px;
  }

  .hero-section .hero-image .hero-text h1 {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .clients-review-section .carousel-item .carousel-caption {
    top: 10%;
  }

  .award-section {
    top: -212px;
  }

  .award-section p {
    font-size: 0.8rem;
  }

  .award-section .right-block h3 {
    font-size: 1.2rem;
  }

  .award-section a.get-in-touch-btn {
    font-size: 0.8rem;
    max-width: 140px;
  }

  .clients-review-section .carousel-item {
    height: 650px;
  }
}

@media (max-width: 625px) {
  .clients-review-section .carousel-item {
    height: 700px;
  }
}

@media (max-width: 576px) {
  .hero-section .hero-image .hero-text {
    padding-left: 0px;
  }

  .hero-section .hero-image .hero-text h1 {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }

  .clients-review-section .carousel-item .carousel-caption {
    top: 5%;
  }

  .clients-review-section .carousel-item .carousel-caption .block {
    padding: 3rem;
  }

  .clients-review-section .carousel-item .carousel-caption .block::before {
    left: 20px;
    top: 12px;
    font-size: 30px;
  }

  .clients-review-section .carousel-item .carousel-caption .block::after {
    font-size: 30px;
  }

  .award-section {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 470px) {
  .clients-review-section .carousel-item .carousel-caption {
    top: 3%;
  }

  .clients-review-section .carousel-item {
    height: 500px;
  }

  .clients-review-section .carousel-item .carousel-caption .block::before {
    left: 15px;
    top: 8px;
  }

  .clients-review-section .carousel-item .carousel-caption .block::after {
    right: 15px;
  }

  .clients-review-section .carousel-item .carousel-caption .block {
    padding: 3rem 2rem;
  }

  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .profile-block
    .img-block {
    max-width: 60px;
  }

  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .profile-block
    .img-block
    img {
    width: 100%;
  }

  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .profile-block
    .name-block
    h5,
  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .review-block
    h5 {
    font-size: 1rem;
  }

  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .profile-block
    .name-block
    p,
  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .review-block
    p {
    font-size: 0.8rem;
  }

  .award-section .award-section-inner {
    flex-direction: column;
  }

  .award-section .left-block {
    margin-bottom: 18px;
  }

  .award-section .left-block p {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .clients-review-section .carousel-item .carousel-caption {
    top: 0%;
  }

  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .profile-block
    .name-block
    h5,
  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .review-block
    h5 {
    font-size: 0.9rem;
  }

  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .profile-block
    .name-block
    p,
  .clients-review-section
    .carousel-item
    .carousel-caption
    .block
    .review-block
    p {
    font-size: 0.7rem;
  }

  .clients-review-section .carousel-item .carousel-caption .block::before,
  .clients-review-section .carousel-item .carousel-caption .block::after {
    font-size: 25px;
  }

  .award-section {
    top: -220px;
  }

  .award-section .left-block .img-block {
    max-width: 65px;
  }
}

@media (max-width: 375px) {
  .mob-top-links a.btn {
    padding: 9px;
  }

  .mob-top-links a.btn {
    font-size: 12px;
  }

  .mob-top-links .btn .fa-whatsapp {
    font-size: 14px;
    font-weight: 900;
  }

  .hero-section .hero-image .hero-text h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .clients-review-section .carousel-item {
    height: 550px;
  }

  .award-section {
    top: -230px;
  }
}
/* media query end */
