/* title section start */
.single-service-page .title-section {
  background-image: url("../images/services/single-services/mobile-development/title.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.single-service-page .title-section.web-banner {
  background-image: url("../images/services/single-services/web-development/web-banner.jpg");
}

.single-service-page .title-section.ui-ux-banner {
  background-image: url("../images/services/single-services/ui-ux/ui-ux-banner.jpg");
}

.single-service-page .title-section.e-learning-banner {
  background-image: url("../images/services/single-services/e-learning/e-learning-banner.jpg");
}

.single-service-page .title-section.e-commerce-banner {
  background-image: url("../images/services/single-services/e-commerce/e-commerce-banner.jpg");
}

.single-service-page .title-section.cyber-security-banner {
  background-image: url("../images/services/single-services/cyber-security/cyber-security-banner.jpg");
}

.single-service-page .title-section.software-test-banner {
  background-image: url("../images/services/single-services/software-test/software-test-banner.jpg");
}

.single-service-page .title-section.java-banner {
  background-image: url("../images/services/single-services/java/java-banner.jpg");
}

.single-service-page .title-section.nodejs-banner {
  background-image: url("../images/services/single-services/node-js/node-js-banner.jpg");
}

.single-service-page .title-section.python-banner {
  background-image: url("../images/services/single-services/python/python-banner.jpg");
}

.single-service-page .title-section.android-banner {
  background-image: url("../images/services/single-services/android/android-banner.jpg");
}

.single-service-page .title-section.ios-banner {
  background-image: url("../images/services/single-services/ios/ios-banner.jpg");
}

.single-service-page .title-section.reactjs-banner {
  background-image: url("../images/services/single-services/react-js/react-js-banner.jpg");
}

.single-service-page .title-section.react-native-banner {
  background-image: url("../images/services/single-services/react-native/react-native-banner.jpg");
}

.single-service-page .title-section.angular-banner {
  background-image: url("../images/services/single-services/angular/angular-banner.jpg");
}

.single-service-page .title-section.blockchain-banner {
  background-image: url("../images/services/single-services/blockchain/blockchain-banner.jpg");
}

.single-service-page .title-section.devops-soln-banner {
  background-image: url("../images/services/single-services/devops-soln/devops-soln-banner.jpg");
}

.single-service-page .title-section.dedicated-dev-banner {
  background-image: url("../images/services/single-services/dedicated-dev/dedicated-dev-banner.jpg");
}

.single-service-page .title-section.product-re-engg-banner {
  background-image: url("../images/services/single-services/product-re-engg/product-re-engg-banner.jpg");
}

.single-service-page .title-section.data-analytics-banner {
  background-image: url("../images/services/single-services/data-analytics/data-analytics-banner.jpg");
}

.single-service-page .title-section.testing-banner {
  background-image: url("../images/services/single-services/testing/testing-banner.jpg");
}

.single-service-page .title-section.engagement-model-banner {
  background-image: url("../images/engagement-model/engagement-model-banner.jpg");
}

.single-service-page .title-section.custom-application-banner {
  background-image: url("../images/services/single-services/custom-application/custom-application-banner.jpg");
  background-position: top center;
}

.single-service-page .title-section.business-consulting-banner {
  background-image: url("../images/services/single-services/business-consulting/business-consulting-banner.jpg");
  background-position: top center;
}

.single-service-page .title-section.mobile-banner {
  background-image: url("../images/services/single-services/mobile-development/mobile-banner.jpg");
  background-position: top center;
}

.single-service-page .title-section h4 {
  font-size: 1.2rem;
}
/* title section end */

.single-service-page .development-section .img-block {
  max-width: 500px;
}

.single-service-page .development-section .img-block img {
  width: 100%;
}

/* services we offer section start */
.single-service-page .services-we-offer-section .card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
}

.single-service-page .services-we-offer-section .card img {
  max-width: 100px;
  padding: 2rem 0 0 2rem;
}

.single-service-page .services-we-offer-section .card-body {
  padding: 2rem;
}

.single-service-page .services-we-offer-section .card-body p {
  text-align: justify;
}
/* services we offer section end */

/* (custom app dev)on demand section start */
.single-service-page .on-demand-section .card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
}

.single-service-page .on-demand-section .card img {
  max-width: 100px;
  padding: 2rem 0 0 2rem;
}

.single-service-page .on-demand-section .card-body {
  padding: 2rem;
}

.single-service-page .on-demand-section .card-body p {
  text-align: justify;
}
/* services we offer section end */

/* technical expertise section start */
.single-service-page .technical-expertise-section {
  background-color: #f2f5f7;
}

.single-service-page .technical-expertise-section .row {
  align-items: center;
}

.single-service-page .technical-expertise-section .block a {
  color: #000000;
}

.single-service-page .technical-expertise-section .block a:hover {
  color: #0075ff;
  transition: all 0.2s linear;
}
/* technical expertise section end */

/* success stories section start */
.single-service-page .success-stories-section .card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.125);
  color: #000000;
  min-height: 410px;
}

.single-service-page .success-stories-section .card h5 {
  color: #0075ff;
}

.single-service-page .success-stories-section .card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* success stories section end */

/* part of solutions section start */
.single-service-page .part-of-solutions-section {
  background-color: #2f3854;
  color: #fff;
}

.single-service-page .part-of-solutions-section a.get-in-touch-btn {
  display: block;
  max-width: 200px;
  padding: 0.8rem 1rem;
  border: 2px solid #0075ff;
  background-color: #0075ff;
  color: #000000;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px #0075ff;
  font-weight: 400;
  color: #fff;
  transition: all 0.25s linear;
}

.single-service-page .part-of-solutions-section a.get-in-touch-btn:hover {
  box-shadow: none;
  background-color: #005ac2;
  border-color: #005ac2;
}
/* part of solutions section end */

/* enagement model start */
.single-service-page .choose-right-engagement-section table th {
  padding: 20px 0;
  background-color: #0075ff;
  color: #ffffff;
}

.single-service-page .choose-right-engagement-section table td {
  padding: 20px 0;
}
/* enagement model end */

@media (max-width: 1400px) {
  .single-service-page .success-stories-section .card {
    min-height: auto;
  }
}

@media (max-width: 1200px) {
  .single-service-page .success-stories-section .card {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .single-service-page .success-stories-section .card {
    min-height: 381px;
  }
}

@media (max-width: 767px) {
  .single-service-page .success-stories-section .card {
    min-height: auto;
  }
}
